<nav
  class="navbar navbar-dark page-header navbar-expand-lg sticky-top navbar-custom"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><h2>
        {{ page.title | default: site.title | default:
        site.github.repository_name }}
      </h2></a
    >
    <button
      class="navbar-toggler hamburger"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse navbar-content"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 text-right">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#employment">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
