---
---

html {
  @import "{{ site.theme }}";

  .navbar-custom {
    z-index: 100;
    padding: 8px 0;
    text-align: right;

    @media (min-width: 992px) {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .nav-link {
    color: rgb(211, 229, 219);
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .navbar-brand:hover {
    text-decoration: none;
  }

  .navbar-nav {
    @media (min-width: 992px) {
      margin-right: 1em;
    }
    margin-right: 0.5em;
    margin-left: auto;
  }

  .hamburger {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
  .navbar-toggler.navbar-brand {
    border: none;
  }

  .main-content {
    padding-top: 40px;
  }

  h2 {
    display: block;
    position: relative;
    z-index: -1;
    &:before {
      content: " ";
      display: block;
      visibility: hidden;
      margin-top: -2em;
      height: 2em;
      @media (max-width: 992px) {
        margin-top: -11em;
        height: 11em;
      }
    }
  }

  .project {
    z-index: 1;
    margin-bottom: 1em;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background-color: #f5f5f5;
      scale: 1.02;
    }
    &:before {
      content: none;
    }
  }
  .experience:hover {
    background-color: #f5f5f5;
  }
  .experience h2 {
    z-index: 1;
    margin-bottom: 0;
    &:before {
      content: none;
    }
  }

  .experience-button.collapsed:hover {
    background-color: #f5f5f5;
    animation: pop 0.25s linear;
  }
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
}
